.breakfastStyle {
    background-color: gray;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.desertStyle {
    background-color: gray;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.dinnerStyle {
    background-color: gray;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.lunchStyle {
    background-color: gray;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.otherStyle {
    background-color: gray;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.saladStyle {
    background-color: gray;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.soupStyle {
    background-color: gray;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}