.breakfastStyle {
    background-color: gray
}

.desertStyle {
    background-color: gray
}

.dinnerStyle {
    background-color: gray
}

.lunchStyle {
    background-color: gray
}

.otherStyle {
    background-color: gray
}

.saladStyle {
    background-color: gray
}

.soupStyle {
    background-color: gray
}