.imageStyle {
    width: 300px;
    height: 300px;
}

.removedBullets {
    list-style-type: none;
}

.addedOrder {
    width: 1000px;
    display: grid;
    grid-template-columns: 300px 300px 300px; 
    gap: 50px;
}

.footerStyle {
    border-top: black;
    text-transform: uppercase;
}