.imageStyle {
    width: 300px;
    height: 300px;
}

.removedBullets {
    list-style-type: none;
}

.addedOrder {
    width: 1000px;
    display: grid;
    grid-template-columns: 300px 300px 300px; 
    gap: 50px;
    columns: black;
}

.footerStyle {
    color: #646cff;
    border-top: black;
    text-transform: uppercase;
}

.displayStyle > ul > li{
    display: inline;
}


.displayStyle > ul > li > a{
    text-align: center;
    padding: 5px 15px;
}

.displayStyle > ul > li > a:hover{
    background-color: black;
    color: white;
}

.headingStyle {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: #646cff;
    text-align: left;
    display: inline;
}

.searchContainerStyle {
    display: inline;
}

.searchButtonStyle{
    padding: 5px;
    color: #646cff;
    font-size: 17px;
    border: 1px solid #646cff;
}

.searchInputStyle {
    width: 84%;
    padding: 5px;
    font-size: 17px;
    border: 1px solid #646cff;   
    background-color: lightgray;
    color:  #646cff;   
}