.breakfastStyle {
    background-color: gray;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.desertStyle {
    background-color: gray;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.dinnerStyle {
    background-color: gray;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.lunchStyle {
    background-color: gray;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.otherStyle {
    background-color: gray;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.saladStyle {
    background-color: gray;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.soupStyle {
    background-color: gray;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.imageStyle {
    width: 150px;
    height: 150px;
}
  
.buttonStyle {
    background-color: darkgray;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border: solid, black, 2px;
}